<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registro Producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
    <form [formGroup]="editForm"   (ngSubmit)="save()" *ngIf="editForm">
      <div class="form-group">
        <label>Producto</label>
        <input type="text" class="form-control" formControlName="producto_desc" required minlength="4" />
        <div *ngIf="editFormData.producto_desc.invalid && (editFormData.producto_desc.dirty || editFormData.producto_desc.touched)"
                    class="alert-danger">
                    <span>First name is required!</span>
                </div>
      </div>
      <div class="form-group">
        <label for="precio_compra">Precio Compra</label>
        <input type="number" class="form-control" formControlName="precio_compra" required minlength="3" maxlength="6" />
      </div>
      <div class="form-group">
        <label for="precio_compra">Precio Venta</label>
        <input type="number" class="form-control" formControlName="precio_venta" minlength="3" required maxlength="6" />
      </div>
      <div class="form-group">
        <label for="precio_compra">Precio Cosecha</label>
        <input type="number" class="form-control" formControlName="precio_cosecha" required minlength="3" maxlength="6" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close('Cancel')">Cerrar</button>
        <button [disabled]="editForm.invalid" type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>
 
  
